@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"); /* Heavy */

@font-face {
  font-family: "AutoTeachnoItalic";
  src: url("../public/fonts/Heading/auto-techno\ italic.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Robotics";
  src: url("../public/fonts/Regular/Robotica.ttf");
  font-weight: 600;
  font-style: normal;
}
